{% extends "table_index.html" %}

{% block container %}
  <h3>{{ table }} <small><a href="{{ url_for('table_show', sql=sql, database=database, table=table) }}">click to show</a></small></h3>
  <form method="post" name="table" id="form">
    <table class="table">
      <thead>
        <th>Name</th>
        <th>Type</th>
        <th>Min</th>
        <th>Max</th>
        <th>Default</th>
        <th>Nullable</th>
        <th>Unique</th>
        <th>Foreign Key</th>
        <th>Language</th>
      </thead>
      <tbody>
        {% for index, field in fields %}
          <tr>
            <td>{{ field['name'] }}<input type="hidden" value="{{ field['name'] }}" name="{{ index }}.name"/></td>
            <td>
              <select class="form-control typeSelect" data-value="{{ field['type'] }}" name="{{ index }}.type">
                <option value="username">username(number & ABC)</option>
                <option value="name">true name</option>
                <option value="companyname">company name</option>
                <option value="goodname">good name</option>
                <option value="address">address</option>
                <option value="email">email</option>
                <option value="city">city</option>
                <option value="school">school</option>
                <option value="job">job</option>
                <option value="randomstring">random string</option>
                <option value="age">age</option>
                <option value="zipcode">zipcode</option>
                <option value="randomint">random number</option>
                <option value="randomfloat">random float</option>
                <option value="date">date</option>
                <option value="datetime">datetime</option>
                <option value="bool">bool</option>
                <option value="enum">enum</option>
                <option value="foreignkey">foreign key</option>
              </select>
            </td>
            <td><input type="number" class="form-control" value="{{ field['min'] }}"       name="{{ index }}.min" /></td>
            <td><input type="number" class="form-control" value="{{ field['max'] }}"       name="{{ index }}.max" /></td>
            <td><input type="text" class="form-control" value="{{ field['default'] }}"     name="{{ index }}.default"/></td>
            <td>
              <label class="checkbox-inline">
                <input type="checkbox" name="{{ index }}.nullable"
                       {% if field['nullable'] == True %}checked{% endif %}/>
              </label>
            </td>
            <td>
              <label class="checkbox-inline">
                <input type="checkbox" name="{{ index }}.unique"
                       {% if field['unique'] == True %}checked{% endif %}/>
              </label>
            </td>
            <td><input type="text" class="form-control" value="{{ field['foreign_key'] }}" name="{{ index }}.foreign_key"/></td>
            <td>
              <select class="form-control langSelect" data-value="{{ field['language'] }}" name="{{ index }}.language">
                <option value="en">en</option>
                <option value="zh_cn">中文</option>
                <option value="jp">日本語</option>
              </select>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="row">
      <div class="col-md-2 col-md-offset-2">
        <input type="number" class="form-control" id="createnumber" placeholder="input create number"/>
      </div>
      <div class="col-md-2 col-md-offset-1">
        <a class="btn btn-primary btn-block" id="submit">Create Data</a>
      </div>
    </div>
  </form>
{% endblock %}

{% block js %}
<script src="/static/jquery.min.js"></script>
<script type="text/javascript">
  $(function() {
    var url = '{{ url_for('table', sql=sql, database=database, name=table) }}';
    $('.typeSelect').val(function(){
      return $(this).data("value");
    });
    $('.langSelect').val(function(){
      return $(this).data("value");
    });
    $('#submit').click(function(e) {
      e.preventDefault();
      var number = $('#createnumber').val();
      if (!number) {
        alert('input create number!');
      } else {
        new_url = url + '?number=' + number;
        $('#form').attr('action', new_url).submit();
      }
    });
  })
</script>
{% endblock %}
